html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#site-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Proza Libre', Arial, sans-serif;
}

.canvas-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(236, 236, 236);
}

.canvas-container canvas {
    width: 100%;
    height: 100%;
}

#ui {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
}